[User]
	name = Tiffany Yang
	email = ytiffany@vmware.com
[alias]
	st = status -sb -uall
	lg = log --decorate --pretty=oneline --abbrev-commit --graph
	undocommit = reset --soft HEAD^
	current = rev-parse --abbrev-ref HEAD                                         |
  undopush = !CURRENT=$(git current) && git push -f origin HEAD^:$CURRENT
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	rebase = true
[diff]
	colorMoved = zebra
